<template>
  <div class="h-100">
    <mobile-layout-header v-if="screen.isMobile">
      <base-button
        v-if="cart.order_items"
        class="font-weight-bold px-4 py-6 rounded-xl"
        :class="{ disabled: isLoadingNewOrder }"
        :is-loading="isLoadingNewOrder"
        @on-click="newOrder"
      >
        <v-icon size="25" left> mdi-cart-outline </v-icon>
        <span class="mr-3 font-13">تکمیل فرایند خرید</span>
      </base-button>
    </mobile-layout-header>
    <custom-component component="cart-details" />
  </div>
</template>
<script setup>
import useCart from '~/composables/useCart'
import useComponent from '~/composables/useComponent'
import useScreen from '~/composables/useScreen'

const screen = useScreen()
const customComponent = useComponent()
const { newOrder, isLoadingNewOrder, cart } = useCart()
</script>
<script>
export default {
  middleware: 'auth',
}
</script>
