<template>
  <v-row class="w-100 ma-0">
    <desktop-layout-content-right>
      <div class="d-flex justify-space-between align-center mt-1 pb-3">
        <div class="d-flex align-center">
          <h4 class="pr-1">{{ product.product.name }}</h4>
          <!-- <small class="text-gray mr-1">
            {{ product.product.code }}
          </small> -->
        </div>
        <!-- <base-button class="pa-0 min-width-0" color="base" small dark plain>
          <v-icon size="25"> mdi-bookmark-outline </v-icon>
        </base-button> -->
      </div>
      <desktop-product-details-variation class="border-top pt-3" />
      <div v-if="product.product.description" class="border-top mt-3">
        <div
          id="desktop-product-description"
          class="description mt-3"
          :class="{ 'read-more': readMore }"
        >
          <p class="text-justify" v-html="product.product.description"></p>
        </div>
        <base-button
          v-if="descriptionChildHeight > descriptionHeight"
          plain
          class="pr-0"
          @on-click="readMore = !readMore"
        >
          <span v-if="!readMore">مشاهده بیشتر</span>
          <span v-else>مشاهده کمتر</span>
        </base-button>
      </div>
      <div v-if="product.product.attachment" class="border-top mt-3 pt-3">
        <a
          class="pa-4 rounded-lg d-flex justify-space-between align-center bg-blue"
          :href="product.product.attachment"
          download
        >
          <span class="font-14 text-base"> دانلود فایل الحاقی</span>
          <v-icon size="20">mdi-download</v-icon>
        </a>
      </div>
      <div v-if="attributes.length > 0" class="attributes border-top pt-3 mt-3">
        <v-expansion-panels :value="0">
          <v-expansion-panel expand>
            <v-expansion-panel-header>
              <div class="d-flex">مشخصات</div>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-simple-table>
                <template #default>
                  <div
                    v-for="(attribute, index) in attributes"
                    :key="index"
                    class="mb-1"
                  >
                    <span>{{ attribute.display_name }} :</span>
                    <span class="mr-1">
                      <template v-for="(value, i) in attribute.values">
                        <span v-if="i != 0" :key="i"> ,</span>{{ value.value }}
                      </template>
                    </span>
                  </div>
                </template>
              </v-simple-table>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </desktop-layout-content-right>
    <desktop-layout-content-left>
      <v-row class="h-100">
        <v-col class="px-1 h-100" md="10" lg="10" xl="10">
          <div v-for="(image, index) in product.images" :key="index">
            <base-image
              v-show="selectedImage == index"
              v-zoom-image="image.image"
              :image="image.image"
              :alt="`product image ${image.id}`"
              height="80vh"
            />
          </div>
        </v-col>
        <v-col md="2" lg="2" xl="2">
          <div class="d-flex flex-column image-bar">
            <div
              v-for="(image, index) in product.images"
              :key="index"
              @click="changeImage(index)"
            >
              <base-image
                class="mb-4"
                :image="image.image"
                :alt="`product image ${image.id}`"
                height="130px"
              />
            </div>
          </div>
        </v-col>
      </v-row>
    </desktop-layout-content-left>
  </v-row>
</template>
<script setup>
import { inject, onMounted, ref } from '@nuxtjs/composition-api'

const { product, attributes } = inject('useProduct')

const readMore = ref(false)
const selectedImage = ref(0)

const changeImage = (index) => {
  selectedImage.value = index
}

const descriptionHeight = ref(0)
const descriptionChildHeight = ref(0)

onMounted(() => {
  descriptionHeight.value = document.getElementById(
    'desktop-product-description'
  )?.offsetHeight
  descriptionChildHeight.value = document.getElementById(
    'desktop-product-description'
  )?.children[0]?.offsetHeight
})
</script>
<script>
export default {
  name: 'ProductDetail',
}
</script>
<style lang="scss" scoped>
.image-bar {
  height: 82vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.product {
  .variations {
    & > div {
      border: 2px solid var(--color-purple-1);
      padding: 20px;
    }
    .discount {
      border: 1px solid var(--color-base-3);
      margin-left: 8px;
      padding-top: 0.5px;
      font-size: 10px;
    }
  }
}
</style>
