<template>
  <div class="quantity">
    <div v-if="canAddToCart" class="d-flex align-center">
      <base-button
        class="min-width-0 px-2 mt-1"
        plain
        small
        @on-click="increment"
      >
        <v-icon class="text-base" size="22"> mdi-plus </v-icon>
      </base-button>
      <base-input
        v-model.number="quantity"
        input-class="px-2 py-1 border-none text-center"
        @keydown.enter="updateQuantity"
      />
      <base-button
        class="min-width-0 px-2 mt-1"
        plain
        small
        @on-click="decrement"
      >
        <v-icon class="text-base" size="22"> mdi-minus </v-icon>
      </base-button>
    </div>
    <div v-else>
      <span>ناموجود</span>
    </div>
  </div>
</template>
<script setup>
import { onMounted, ref, watch } from '@nuxtjs/composition-api'

const props = defineProps({
  productInfo: { type: Object, default: Function },
  canAddToCart: { type: Boolean, default: true },
})

const emit = defineEmits(['update-quantity'])

const quantity = ref(1)

onMounted(() => {
  if (!props.productInfo.stock_type) {
    quantity.value = props.productInfo.quantity
  }
})

const increment = () => {
  if (props.productInfo.stock_type) {
    if (props.productInfo.stock_type === 'unlimited') {
      quantity.value++
    } else if (props.productInfo.stock_type === 'limited') {
      if (quantity.value >= props.productInfo.quantity) {
        return
      }
      quantity.value++
    }
  } else {
    quantity.value++
  }

  emit('update-quantity', quantity.value)
}

const decrement = () => {
  if (quantity.value <= 1) return

  quantity.value--

  emit('update-quantity', quantity.value)
}

const updateQuantity = () => {
  emit('update-quantity', quantity.value)
}

watch(
  () => props.productInfo.quantity,
  (value) => {
    if (!props.productInfo.stock_type) {
      quantity.value = value
    }
  }
)
</script>
<script>
export default {
  name: 'QuantityComponent',
}
</script>
<style lang="scss" scoped>
.quantity {
  flex: 0 1 123px;
}
</style>
