<template>
  <div class="variations">
    <div class="rounded-xl">
      <div>
        <div v-for="(variation, index) in variations" :key="index">
          <base-select
            v-model="attributeProductId[index]"
            :label="variation.display_name"
            :items="variation.values"
            data-text-field="value"
            data-value-field="id"
          />
        </div>
      </div>
      <base-alert
        v-if="!productInfo.quantity > 3"
        class="text-center pa-1 font-14 mt-4"
        type="danger"
      >
        <v-icon size="16" color="red"> mdi-alert-circle </v-icon>
        <span class="vertical-align-middle pr-1"
          >تنها {{ productInfo.quantity }} عدد موجود</span
        >
      </base-alert>
      <desktop-product-details-price
        :product-info="productInfo"
        @update-quantity="updateQuantity"
      />
      <base-button
        v-if="catalogIsActive && canAddToCart"
        block
        class="mt-3 py-6 rounded-xl"
        :class="{ disabled: isLoadingAddToCart }"
        :is-loading="isLoadingAddToCart"
        @on-click="handleAddToCart"
      >
        <v-icon size="25" left> mdi-cart </v-icon>
        <span class="mr-3 font-13">افزودن به سبد خرید</span>
      </base-button>
    </div>
  </div>
</template>
<script setup>
import {
  computed,
  inject,
  onMounted,
  ref,
  useContext,
} from '@nuxtjs/composition-api'
import useCart from '~/composables/useCart'

const { variations, attributeProductId, productInfo, canAddToCart } =
  inject('useProduct')

const { store } = useContext()
const { addToCart, isLoadingAddToCart } = useCart()

const quantity = ref(1)

const catalog = computed(() => store.state.catalog?.catalog)
// check catalog ordering status
const catalogIsActive = computed(() => {
  if (!catalog.value) return true
  else if (catalog.value) {
    if (catalog.value.ordering_status === 'active') {
      return true
    } else return false
  }
})
onMounted(() => {
  if (variations.value.length) {
    const defaultAttribute = []

    variations.value.forEach((variation, index) => {
      defaultAttribute[index] = variation.values[0].id
    })

    attributeProductId.value = defaultAttribute
  }
})

const updateQuantity = (q) => {
  quantity.value = q
}

const handleAddToCart = () => {
  const product = {
    product_id: productInfo.value.id,
    catalog_id: catalog?.value?.id,
    quantity: quantity.value,
    variation_id: null,
  }

  if (productInfo.value.product_id) {
    product.product_id = productInfo.value.product_id
    product.variation_id = productInfo.value.id
  }

  addToCart(product)
}
</script>

<script>
export default {
  name: 'ProductVariation',
}
</script>
<style lang="scss" scoped>
.variations {
  & > div {
    background-color: rgba(158, 25, 255, 0.05);
    border: 2px solid var(--color-purple-1);
    padding: 20px;
  }
}
</style>
