<template>
  <v-row class="no-gutters cart">
    <desktop-layout-content-right title="لیست سفارشات">
      <h4>لیست سفارشات</h4>
      <div v-if="isLoading" class="text-center">
        <base-loading></base-loading>
      </div>
      <div v-else class="mt-2">
        <div v-if="orders.data.length">
          <div
            v-for="(order, index) in orders.data"
            :key="index"
            @click="getOrderDetails(order.id)"
          >
            <desktop-order-details-orders
              :order="order"
              class="mb-2 cursor-pointer"
            />
          </div>
        </div>
        <div v-else>
          <p>سفارش ثبت شده ای ندارید.</p>
        </div>
      </div>
    </desktop-layout-content-right>
    <desktop-layout-content-left>
      <base-card class="pa-7" :class="{ scrollable: !screen.isMobile }">
        <v-row>
          <v-col v-if="isLoadingOrderItems" cols="12" class="text-center">
            <base-loading></base-loading>
          </v-col>
          <v-col
            v-for="(item, index) in orderItems"
            v-else
            :key="index"
            sm="12"
            md="6"
          >
            <desktop-order-details-item :item="item" />
          </v-col>
        </v-row>
      </base-card>
    </desktop-layout-content-left>
  </v-row>
</template>
<script setup>
import useOrder from '~/composables/useOrder'
import useScreen from '~/composables/useScreen'

const screen = useScreen()

const {
  getOrders,
  isLoading,
  isLoadingOrderItems,
  orders,
  orderItems,
  getOrderDetails,
} = useOrder()

getOrders()
</script>
<script>
export default {
  name: 'CartDetail',
}
</script>

<style lang="scss" scoped>
.cart {
}
</style>
