<template>
  <div class="order" :style="{ 'border-color': status.color }">
    <div class="d-flex justify-space-between align-center">
      <div>
        <span class="font-12">شماره سفارش : </span>
        <span>{{ order.code }}</span>
        <div class="mt-2">
          <span>{{ getDateTime(order.created_at) }}</span>
        </div>
      </div>
      <div v-if="order.total_amount > 0">
        <span class="font-weight-bold">{{
          separateNum(order.total_amount)
        }}</span>
        <span class="font-12">تومان</span>
      </div>
    </div>
    <div class="mt-2" :style="{ color: status.color }">
      <v-icon :color="status.color">mdi-check</v-icon>
      <span>{{ status.text }}</span>
    </div>
  </div>
</template>
<script setup>
import { computed } from '@nuxtjs/composition-api'
import useGlobal from '~/composables/useGlobal'

const props = defineProps({
  order: { type: Object },
})

const { separateNum, getDateTime } = useGlobal()

const status = computed(() => {
  switch (props.order.status) {
    case 'canceled':
      return {
        text: 'مرجوع شده',
        color: '#FF2646',
      }
    case 'pending':
      return {
        text: 'در صف انتظار',
        color: '#0085FF',
      }
    case 'completed':
      return {
        text: 'تکمیل شده',
        color: '#03C03C',
      }

    default:
      break
  }
})
</script>
<script>
export default {
  name: 'OrderComponent',
}
</script>
<style lang="scss" scoped>
.order {
  border: 1px solid;
  border-radius: 16px;
  padding: 12px;
}
</style>
