<template>
  <div class="d-flex flex-column">
    <span
      v-if="item.product_price.sale_price > 0"
      class="text-gray text-left d-flex align-center justify-end font-11 mt-1"
    >
      <del>
        {{ separateNum(item.product_price.price) }}
      </del>
    </span>
    <span
      v-if="item.product_price.sale_price > 0"
      class="text-base font-weight-bold text-left font-14"
    >
      {{ separateNum(item.product_price.sale_price) }}
      <small>{{ getPirceCurrency(item.product_currency) }}</small>
    </span>

    <span
      v-if="!item.product_price.sale_price > 0 && item.product_price.price > 0"
      class="text-base font-weight-bold text-left mt-1"
    >
      {{ separateNum(item.product_price.price) }}
      <small>{{ getPirceCurrency(item.product_currency) }}</small>
    </span>
  </div>
</template>
<script setup>
import useGlobal from '~/composables/useGlobal'

defineProps({
  item: { type: Object },
})

const { separateNum, getPirceCurrency } = useGlobal()
</script>
<script>
export default {
  name: 'CartPriceComponent',
}
</script>
