<template>
  <header
    class="header d-flex justify-space-between align-center px-6 py-3 py-4"
  >
    <!-- Desktop Header -->
    <div class="d-flex align-center w-100">
      <NuxtLink :to="{ name: 'index' }">
        <img
          v-if="$vuetify.theme.dark"
          src="@/assets/images/ShopLogoDark.png"
          alt="shop logo"
        />
        <img v-else src="@/assets/images/ShopLogoLight.png" alt="shop logo" />
      </NuxtLink>
      <form class="w-100 mr-5">
        <base-input
          v-model="search"
          class="search-input w-50"
          placeholder="جستجوی محصولات"
          input-class="seq border-none"
        >
          <template #icon>
            <v-icon> mdi-magnify </v-icon>
          </template>
        </base-input>
      </form>
    </div>
    <div class="d-flex align-center">
      <base-button
        v-if="$vuetify.theme.dark"
        class="ml-4"
        icon
        @on-click="toggleTheme"
      >
        <v-icon size="25"> mdi-weather-sunny </v-icon>
      </base-button>
      <base-button v-else class="ml-4" icon @on-click="toggleTheme">
        <v-icon> mdi-weather-night </v-icon>
      </base-button>
      <base-button class="ml-4" icon @on-click="$router.push('/cart')">
        <v-icon> mdi-cart-outline</v-icon>
      </base-button>
      <div>
        <base-button
          v-if="!$auth.$state.loggedIn"
          class="font-weight-bold px-4 py-6 rounded-xl"
          outlined
          @on-click="$router.push('/login')"
        >
          <v-icon size="25" left> mdi-account-circle </v-icon>
          <span class="mr-3 font-13">ورود به حساب کاربری</span>
        </base-button>
        <v-menu
          v-else
          bottom
          offset-y
          close-on-content-click
          origin="center center"
          transition="scale-transition"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon color="primary" dark v-bind="attrs" v-on="on">
              <v-icon size="25"> mdi-account-outline </v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item link>
              <v-list-item-action @click="$router.push('/orders')">
                <v-list-item-title> سفارشات </v-list-item-title>
              </v-list-item-action>
            </v-list-item>
            <v-list-item link>
              <v-list-item-action @click="logout">
                <v-list-item-title> خروج </v-list-item-title>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </div>
  </header>
</template>

<script setup>
import { ref, useContext } from '@nuxtjs/composition-api'

const { $vuetify, $auth } = useContext()

const search = ref('')

const toggleTheme = () => {
  $vuetify.theme.dark = !$vuetify.theme.dark
}

const logout = () => {
  $auth.logout()
}
</script>

<script>
export default {
  name: 'DefaultHeader',
}
</script>

<style lang="scss" scoped>
@import './header.scss';
</style>
