<template>
  <div>
    <mobile-layout-header v-if="screen.isMobile"></mobile-layout-header>
    <v-container>
      <v-row no-gutters class="pt-15 login vh-100">
        <v-col cols="11" sm="6" md="4" lg="3" class="mx-auto">
          <div class="text-center">
            <img
              v-if="$vuetify.theme.dark"
              src="@/assets/images/ShopLogoDark.png"
              alt="shop logo"
            />
            <img
              v-else
              src="@/assets/images/ShopLogoLight.png"
              alt="shop logo"
            />
          </div>
          <div v-if="showLogin" class="mt-5">
            <h4 class="text-base font-weight-bold">ورود | ثبت نام</h4>
            <p class="text-gray mt-4">
              سلام!
              <br />
              لطفا شماره تماس خود را وارد کنید
            </p>
            <base-form ref="form">
              <div slot="body">
                <base-input
                  v-model="cellphone"
                  label="شماره موبایل"
                  type="tel"
                  maxlength="11"
                  rules="required|mobile"
                  @keydown.enter.native.prevent="login"
                />
                <base-button
                  class="mt-5 mr-0 py-6 rounded-xl"
                  :class="{ disabled: isLoading }"
                  block
                  :is-loading="isLoading"
                  @on-click="login"
                >
                  <v-icon size="25" left> mdi-check </v-icon>
                  <span class="mr-3 font-13">ورود به سیستم</span>
                </base-button>
              </div>
            </base-form>
            <p class="font-11 mt-2">
              ورود شما به معنای پذیرفتن
              <a
                class="text-primary"
                target="blank"
                href="https://chadisho.com/terms/"
                >شرایط چادیشو و قوانین حریم خصوصی</a
              >
              است.
            </p>
          </div>
          <div v-if="showOtp" class="mt-5">
            <base-input
              v-model="otp"
              label="کد تایید"
              type="tel"
              maxlength="6"
              rules="required"
              @keydown.enter.prevent="checkOtp"
            />
            <base-button
              v-if="timer"
              class="mt-5 mr-0 py-6 rounded-xl"
              :class="{ disabled: isLoading }"
              block
              :is-loading="isLoading"
              @on-click="checkOtp"
            >
              <v-icon size="25" left> mdi-check </v-icon>
              <span class="mr-3 font-13">تایید و ورود به سیستم</span>
            </base-button>
            <div v-if="timer" class="timer mt-4">
              <span>
                {{ convertHMS(timer) }}
              </span>
            </div>
            <base-button
              v-else
              class="mt-5 mr-0 py-6 rounded-xl"
              :class="{ disabled: isLoading }"
              block
              outlined
              :is-loading="isLoading"
              @on-click="resendOtp"
            >
              <v-icon size="15" left> mdi-circle-outline </v-icon>
              <span class="mr-3 font-13">ارسال مجدد کد</span>
            </base-button>

            <base-button class="mt-5 py-6" text block @on-click="editCellphone">
              <v-icon class="mr-0" size="20" left> mdi-pencil-outline </v-icon>
              <span class="mr-3 font-13">اصلاح شماره تماس</span>
            </base-button>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script setup>
import {
  ref,
  useRouter,
  onUnmounted,
  useContext,
} from '@nuxtjs/composition-api'
import useHttp from '~/composables/useHttp'
import useScreen from '~/composables/useScreen'
import useCart from '~/composables/useCart'
import useSwal from '~/composables/useSwal'
import useGlobal from '~/composables/useGlobal'

const { getCart } = useCart()

const { $auth } = useContext()

const { post } = useHttp()
const { toEnglishDigits } = useGlobal()
const screen = useScreen()
const router = useRouter()

const isLoading = ref(false)
const showLogin = ref(true)
const showOtp = ref(false)
const cellphone = ref()
const loginToken = ref()
const otp = ref()
const timer = ref(0)

let interval

onUnmounted(() => {
  clearInterval(interval)
})

const login = () => {
  if (!cellphone.value) return

  isLoading.value = true

  post({
    url: '/app/auth/login',
    body: { cellphone: toEnglishDigits(cellphone.value) },
  })
    .then((res) => {
      startTimer()

      useSwal({
        title: 'کد تایید به شماره تلفن شما ارسال شد',
      })
      loginToken.value = res.options.loginToken
      showLogin.value = false
      showOtp.value = true
    })
    .catch((err) => {
      useSwal({
        icon: 'error',
        title: err?.response?.data?.errors?.cellphone[0],
      })
    })
    .finally(() => {
      isLoading.value = false
    })
}
const checkOtp = () => {
  isLoading.value = true
  post({
    url: '/app/auth/check-otp',
    body: { otp: toEnglishDigits(otp.value), loginToken: loginToken.value },
  })
    .then((res) => {
      $auth.setUserToken(res.options.token)

      getCart()

      router.go(-1)
    })
    .catch((err) => {
      useSwal({
        icon: 'error',
        title: err.response.data.message,
      })
    })
    .finally(() => {
      isLoading.value = false
    })
}
const resendOtp = async () => {
  isLoading.value = true

  const response = await post({
    url: '/app/auth/resend-otp',
    body: { loginToken: loginToken.value },
  })

  loginToken.value = response.options.loginToken

  startTimer()

  isLoading.value = false
}
const editCellphone = () => {
  showLogin.value = true
  showOtp.value = false
}

const startTimer = () => {
  timer.value = 60
  interval = setInterval(() => {
    if (timer.value === 0) {
      clearInterval(interval)
    } else {
      timer.value--
    }
  }, 1000)
}

const convertHMS = (value) => {
  const sec = parseInt(value, 10) // convert value to number if it's string
  let hours = Math.floor(sec / 3600) // get hours
  let minutes = Math.floor((sec - hours * 3600) / 60) // get minutes
  let seconds = sec - hours * 3600 - minutes * 60 //  get seconds
  // add 0 if value < 10; Example: 2 => 02
  if (hours < 10) {
    hours = '0' + hours
  }
  if (minutes < 10) {
    minutes = '0' + minutes
  }
  if (seconds < 10) {
    seconds = '0' + seconds
  }
  // return hours + ":" + minutes + ":" + seconds; // Return is HH : MM : SS
  return minutes + ':' + seconds // Return is HH : MM : SS
}
</script>
<style lang="scss" scoped>
.timer {
  display: flex;
  width: 100%;
  justify-content: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px dashed var(--color-base-1);
  }
}
.login {
  background-color: var(--color-base-7);
}
</style>
