<template>
  <div class="catalog">
    <base-image
      :image="getImage(catalog.image)"
      :alt="catalog.title"
      height="250px"
      @loading="loading = false"
    ></base-image>
    <h5 class="text-base" :style="{ display: loading ? 'none' : 'block' }">
      {{ catalog.title }}
    </h5>
  </div>
</template>

<script>
import { ref } from '@nuxtjs/composition-api'
import useGlobal from '~/composables/useGlobal'
export default {
  name: 'CatalogComponent',
}
</script>

<script setup>
defineProps({
  catalog: {
    type: Object,
    default: () => {},
  },
})

const { getImage } = useGlobal()
const loading = ref(true)
</script>

<style lang="scss" scoped>
.catalog {
  position: relative;

  h5 {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
</style>
