<template>
  <div class="d-flex flex-column catalog h-100">
    <div>
      <v-carousel
        v-if="catalog.catalogImages.length"
        height="260"
        cycle
        show-arrows-on-hover
        class="catalog-image"
      >
        <v-carousel-item
          v-for="(item, i) in catalog.catalogImages"
          :key="i"
          :src="getImage(item.image)"
          :href="item.link"
          target="_blank"
        >
          <div class="catalog-title">
            {{ item.title }}
          </div>
        </v-carousel-item>
      </v-carousel>
      <div v-if="catalog.catalog.description" class="px-5">
        <div
          id="mobile-catalog-description"
          class="description mt-4"
          :class="{
            'read-more': readMore,
            'border-top pt-3': catalog.catalogImages.length,
          }"
        >
          <p class="text-justify">{{ catalog.catalog.description }}</p>
        </div>
        <base-button
          v-if="descriptionChildHeight > descriptionHeight"
          plain
          @on-click="readMore = !readMore"
        >
          <span v-if="!readMore">مشاهده بیشتر</span>
          <span v-else>مشاهده کمتر</span>
        </base-button>
      </div>
    </div>

    <div class="mb-10 h-100">
      <base-card class="pa-7" title="">
        <div
          v-for="section in catalog.catalogSections"
          :key="section.id"
          class="mb-5"
        >
          <h4 class="mb-3">{{ section.title }}</h4>
          <v-row v-if="section.sectionable_type == 'catalog'">
            <v-col v-for="item in section.items" :key="item.code" cols="12">
              <NuxtLink
                :to="{
                  name: 'catalog-code-title',
                  params: {
                    code: `chc-${item.code}`,
                    title: titleToSlug(item.title),
                  },
                }"
                target="_blank"
              >
                <custom-component component="catalog-base" :catalog="item" />
              </NuxtLink>
            </v-col>
          </v-row>
          <v-row v-if="section.sectionable_type == 'product'">
            <v-col v-for="item in section.items" :key="item.code" cols="12">
              <NuxtLink
                :to="{
                  name: 'product-code-title',
                  params: {
                    code: `chp-${item.code}`,
                    title: titleToSlug(item.name),
                  },
                }"
              >
                <custom-component
                  component="product-gridView"
                  :product="item"
                />
              </NuxtLink>
            </v-col>
          </v-row>
        </div>
      </base-card>
    </div>
  </div>
</template>
<script setup>
import { ref, computed, useStore, onMounted } from '@nuxtjs/composition-api'
import useGlobal from '~/composables/useGlobal'
import useComponent from '~/composables/useComponent'

const store = useStore()

const { titleToSlug, getImage } = useGlobal()
const customComponent = useComponent()

const readMore = ref(false)

const catalog = computed(() => store.state.catalog)

const descriptionHeight = ref(0)
const descriptionChildHeight = ref(0)
onMounted(() => {
  descriptionHeight.value = document.getElementById(
    'mobile-catalog-description'
  )?.offsetHeight
  descriptionChildHeight.value = document.getElementById(
    'mobile-catalog-description'
  )?.children[0]?.offsetHeight
})
</script>
<script>
export default {
  name: 'CatalogDetail',
}
</script>

<style lang="scss" scoped>
.catalog {
  margin-bottom: 8px;
  .catalog-image {
    position: relative;

    .catalog-title {
      position: absolute;
      right: 15px;
      bottom: 48px;
      font-size: 24px;
    }
  }
  .description {
    color: var(--color-base-4);
    position: relative;
    max-height: 100px;
    overflow: hidden;
    transition: 0.5s;

    p {
      line-height: 1.7rem;
    }

    &.read-more {
      max-height: 1000px;
      transition: 0.5s;
    }
  }
}
</style>
