<template>
  <div class="alert" :class="`alert-${type}`">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'BaseAlert',
}
</script>

<script setup>
defineProps({
  type: {
    type: String,
    default: 'success',
  },
})
</script>

<style lang="scss" scoped>
@import './alert.scss';
</style>
