<template>
  <div class="w-100">
    <v-skeleton-loader
      v-if="loading"
      :height="height"
      type="image"
    ></v-skeleton-loader>
    <img
      class="rounded-lg"
      :src="image"
      :alt="alt"
      :style="{ display: loading ? 'none' : 'block', height: height }"
      v-on:load="queueNextImage"
    />
  </div>
</template>
<script setup>
import { ref } from '@nuxtjs/composition-api'

defineProps({
  image: {
    type: String,
    default: '',
  },
  alt: {
    type: String,
    default: '',
  },
  height: {
    type: String,
    default: '250px',
  },
})

const emit = defineEmits(['loading'])
const loading = ref(true)

const queueNextImage = () => {
  loading.value = false
  emit('loading')
}
</script>
<script>
export default {
  name: 'ImageComponent',
}
</script>
<style lang="scss" scoped>
::v-deep .v-skeleton-loader.v-skeleton-loader--is-loading {
  .v-skeleton-loader__image {
    height: 100%;
  }
}
img {
  position: relative;
  width: 100%;
  object-fit: cover;
}
</style>
