<template>
  <v-row class="no-gutters cart">
    <desktop-layout-content-right title="سبد خرید">
      <div class="pr-1 border-bottom">
        <p class="font-13 mt-2 text-justify">
          لطفا محصولات و متغیر‌های موردنظر خود را انتخاب نموده و سپس روی گزینه
          تکمیل فرآیند خرید کلیک کنید تا سفارش شما برای فروشگاه ارسال گردد.
        </p>
      </div>
      <div class="mt-2" v-if="cart.total_amount">
        <div class="d-flex justify-space-between">
          <span class="font-20">قیمت نهایی</span>
          <span class="font-18">
            <div class="text-left">
              <span>
                {{ separateNum(calculateOrderPrice.salePrice) }}
              </span>
              <small>
                {{ getPirceCurrency(cart.order_items[0].product_currency) }}
              </small>
            </div>
            <div class="text-lightgray text-left">
              <span
                v-if="calculateOrderPrice.salePrice > 0"
                class="font-11 discount text-base rounded-xl px-2 ml-1 bg-green"
              >
                {{
                  calculateDiscount({
                    price: calculateOrderPrice.price,
                    sale_price: calculateOrderPrice.salePrice,
                  })
                }}% تخفیف
              </span>
              <span>
                {{ separateNum(calculateOrderPrice.price) }}
              </span>
              <small>
                {{ getPirceCurrency(cart.order_items[0].product_currency) }}
              </small>
            </div>
          </span>
        </div>
        <div class="d-flex justify-space-between align-center mt-3">
          <p class="font-15">سود شما از خرید :</p>
          <p class="font-15 text-blue">
            {{
              separateNum(
                calculateOrderPrice.price - calculateOrderPrice.salePrice
              )
            }}
            <small>
              {{ getPirceCurrency(cart.order_items[0].product_currency) }}
            </small>
          </p>
        </div>
        <base-button
          block
          class="mt-1 py-6 rounded-xl"
          :class="{ disabled: isLoadingNewOrder }"
          :is-loading="isLoadingNewOrder"
          @on-click="newOrder"
        >
          <v-icon size="25" left> mdi-cart-outline </v-icon>
          <span class="mr-3 font-13">تکمیل فرایند خرید</span>
        </base-button>
      </div>
    </desktop-layout-content-right>
    <desktop-layout-content-left>
      <base-card class="pa-7" :class="{ scrollable: !screen.isMobile }">
        <v-row>
          <v-col cols="12" class="text-center" v-if="isLoadingGetCart">
            <base-loading></base-loading>
          </v-col>
          <v-col
            v-for="(item, index) in cart.order_items"
            :key="index"
            sm="12"
            md="6"
            v-else
          >
            <desktop-cart-details-item :item="item" />
          </v-col>
        </v-row>
      </base-card>
    </desktop-layout-content-left>
  </v-row>
</template>
<script setup>
import useCart from '~/composables/useCart'
import useGlobal from '~/composables/useGlobal'
import useScreen from '~/composables/useScreen'

const screen = useScreen()

const {
  cart,
  getCart,
  isLoadingNewOrder,
  isLoadingGetCart,
  newOrder,
  calculateOrderPrice,
} = useCart()
const { separateNum, getPirceCurrency, calculateDiscount } = useGlobal()

getCart()
</script>
<script>
export default {
  name: 'CartDetail',
}
</script>

<style lang="scss" scoped></style>
