<template>
  <v-expansion-panels class="border" style="border-radius: 15px" :value="0">
    <v-expansion-panel
      class="bg-transparent"
      style="border-radius: 15px"
      expand
    >
      <v-expansion-panel-header>
        <div class="d-flex align-center">
          <img
            width="50"
            class="rounded-lg ml-2"
            :src="item.product_image"
            :alt="item.product_name"
          />
          <div class="pt-3">
            <p class="mb-2 text-lightgray">{{ item.product_name }}</p>
            <p class="text-gray text-right font-11">
              {{ item.product_code }}
            </p>
          </div>
        </div>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <div class="bg-dark py-2 px-3 rounded-xl">
          <div>
            <div v-if="item.product_variation" class="d-flex">
              <base-button
                class="border flex-grow-1 py-4 rounded-10"
                color="accent"
                outlined
              >
                <span
                  v-for="(pv, index) in item.product_variation"
                  :key="index"
                >
                  {{ pv.value }}
                  <span v-if="index != item.product_variation.length - 1"
                    >/</span
                  >
                </span>
              </base-button>
            </div>
            <div class="d-flex justify-space-between">
              <base-loading
                v-if="isLoadingUpdateCartItem"
                class="mt-1"
              ></base-loading>
              <desktop-product-details-quantity
                v-else
                :product-info="item"
                @update-quantity="updateQuantity"
              />

              <desktop-cart-details-price :item="item" />
            </div>
          </div>
        </div>
        <div class="d-flex justify-space-between align-center mt-3">
          <div>
            <NuxtLink
              :to="{
                name: 'product-code-title',
                params: {
                  code: `chp-${item.product_code}`,
                  title: titleToSlug(item.product_name),
                },
              }"
            >
              <v-icon size="20">mdi-alert-circle</v-icon>
              <span class="mr-2 text-base font-13">مشاهده محصول</span>
            </NuxtLink>
          </div>
          <div>
            <base-button
              class="min-width-0 rounded-10"
              :class="{ disabled: isLoadingDeleteCartItem }"
              color="error"
              text
              :is-loading="isLoadingDeleteCartItem"
              @on-click="deleteItem(item.id)"
            >
              <v-icon size="20">mdi-trash-can-outline</v-icon>
            </base-button>
          </div>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script setup>
import useCart from '~/composables/useCart'
import useGlobal from '~/composables/useGlobal'

const props = defineProps({
  item: { type: Object },
})

const {
  deleteCartItem,
  isLoadingDeleteCartItem,
  updateCartItem,
  isLoadingUpdateCartItem,
} = useCart()

const { titleToSlug } = useGlobal()

const updateQuantity = (quantity) => {
  if (props.item.quantity === quantity) {
    return
  }

  updateCartItem(props.item.id, quantity)
}

const deleteItem = (orderItemID) => {
  deleteCartItem(orderItemID)
}
</script>
<script>
export default {
  name: 'CartItemComponent',
}
</script>
