<template>
  <header class="header d-flex justify-space-between align-center py-3">
    <div class="d-flex justify-space-between align-center w-100 px-6">
      <div class="d-flex flex-column justify-start">
        <div v-if="router.history.current.name === 'catalog-code-title'">
          <base-button class="pa-0 min-width-0" icon @on-click="toggleMenu">
            <v-icon size="25" color="base"> mdi-menu </v-icon>
          </base-button>
        </div>
        <div v-else>
          <base-button
            class="pa-0 min-width-0 mb-1"
            plain
            @on-click="$router.go(-1)"
          >
            <v-icon size="25" color="base"> mdi-arrow-right </v-icon>
            <span class="mr-3 font-13 text-base">بازگشت</span>
          </base-button>
        </div>
        <slot></slot>
      </div>
      <slot name="left-menu"></slot>
    </div>
    <!-- mobile header content -->
    <div class="mobile-header" :class="{ open: mobileHeader }">
      <div>
        <NuxtLink to="/">
          <img
            v-if="$vuetify.theme.dark"
            src="@/assets/images/ShopLogoDark.png"
            alt="shop logo"
          />
          <img v-else src="@/assets/images/ShopLogoLight.png" alt="shop logo" />
        </NuxtLink>
        <ul class="mt-8 pl-0">
          <li>
            <base-button
              text
              block
              class="d-flex py-7 justify-start"
              @on-click="goTo({ name: 'index' })"
            >
              <span class="ml-5">
                <v-icon size="25" color="base"> mdi-alert-circle </v-icon>
              </span>
              <span class="text-base">درباره فروشگاه</span>
            </base-button>
          </li>
          <li>
            <base-button
              text
              block
              class="d-flex py-7 justify-start"
              @on-click="goTo({ name: 'cart' })"
            >
              <span class="ml-5">
                <v-icon size="25" color="base"> mdi-cart-outline </v-icon>
              </span>
              <span class="text-base">سبد خرید</span>
            </base-button>
          </li>
          <li v-if="$auth.$state.loggedIn">
            <base-button
              text
              block
              class="d-flex py-7 justify-start"
              @on-click="goTo({ name: 'orders' })"
            >
              <span class="ml-5">
                <v-icon size="25" color="base"> mdi-shopping-outline </v-icon>
              </span>
              <span class="text-base">سفارشات</span>
            </base-button>
          </li>
          <li>
            <base-button
              text
              block
              class="d-flex py-7 justify-start"
              @on-click="goTo({ name: 'index' })"
            >
              <span class="ml-5">
                <v-icon size="25" color="base"> mdi-magnify </v-icon>
              </span>
              <span class="text-base">جستجو در کاتالوگ</span>
            </base-button>
          </li>
          <li>
            <div class="d-flex justify-space-between align-center">
              <div class="d-flex align-center pr-5">
                <v-icon v-if="$vuetify.theme.dark" color="base" size="25">
                  mdi-weather-night
                </v-icon>
                <v-icon v-else color="base" size="25">
                  mdi-weather-sunny
                </v-icon>
                <span class="font-15 text-base mr-5">حالت شب</span>
              </div>
              <v-switch
                v-model="darkTheme"
                inset
                @change="toggleTheme"
              ></v-switch>
            </div>
          </li>
          <li class="py-3">
            <base-button
              v-if="$auth.$state.loggedIn"
              class="py-6 rounded-xl"
              block
              outlined
              @on-click="logout"
            >
              <v-icon size="25"> mdi-logout-variant </v-icon>
              <span class="mr-3 font-13">خروج</span>
            </base-button>
            <base-button
              v-else
              block
              outlined
              class="py-6 rounded-xl"
              @on-click="goTo('/login')"
            >
              <v-icon size="25" left> mdi-account-circle </v-icon>
              <span class="mr-3 font-13">ورود به حساب کاربری</span>
            </base-button>
          </li>
        </ul>
      </div>
      <!-- last section that contains close btn -->
      <div class="d-flex justify-space-between align-center">
        <base-button
          class="pa-0 min-width-0"
          small
          dark
          plain
          @on-click="toggleMenu"
        >
          <v-icon size="25" color="base"> mdi-close </v-icon>
        </base-button>
        <div class="d-flex justify-center">
          <img src="@/assets/images/shoplogo.png" alt="logo" />
          <p class="mb-0">توسعه یافته توسط چادیشو</p>
        </div>
      </div>
    </div>
    <!-- End Of Mobile Header -->
  </header>
</template>

<script setup>
import { ref, useRouter, useContext } from '@nuxtjs/composition-api'
const router = useRouter()
// const search = ref('')
const darkTheme = ref(true)
const mobileHeader = ref(false)
const { $vuetify, $auth } = useContext()

const toggleMenu = () => {
  mobileHeader.value = !mobileHeader.value
  document.getElementById('overlay').classList.toggle('show')
  // overlay.classList.add('show')
}

const goTo = (route) => {
  router.push(route)
  document.getElementById('overlay').classList.toggle('show')
}
const toggleTheme = () => {
  $vuetify.theme.dark = !$vuetify.theme.dark
}
const logout = () => {
  $auth.logout()
}
</script>

<script>
export default {
  name: 'DefaultHeader',
}
</script>

<style lang="scss" scoped>
@import './header.scss';
</style>
