.header {
  background-color: var(--color-base-7);
  box-shadow: 0 0 5px 1px var(--color-base-6);
  min-height: 75px;
}
.mobile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 101;
  background-color: var(--color-base-7);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 35px 35px 20px 35px;
  transform: translateY(550px);
  transition: 0.5s;
  box-shadow: 0 0 5px 1px var(--color-base-7);

  &.open {
    transform: translateY(0);
    transition: 0.5s;
  }
  a {
    img {
      width: 50%;
      height: auto;
    }
  }
  ul {
    li {
      border-top: 1px solid var(--color-base-5);
      list-style: none;
    }
  }
}
@media screen and (max-width: 576px) {
  .header {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
  }
}
