<template>
  <div class="h-100">
    <div v-if="product" class="h-100">
      <!-- Moible Header -->
      <mobile-layout-header v-if="screen.isMobile">
        <base-button
          v-if="catalogIsActive"
          class="font-weight-bold px-4 py-6 rounded-xl"
          @on-click="toggleMenu"
        >
          <v-icon size="25" left> mdi-cart </v-icon>
          <span class="mr-3 font-13">افزودن به سبد خرید</span>
        </base-button>
        <div slot="left-menu">
          <mobile-product-details-price :show-quantity="false" />
        </div>

        <div class="mobile-header" :class="{ open: mobileHeader }">
          <div>
            <base-button
              class="pa-0 min-width-0 mb-2 rounded-xl"
              small
              plain
              @on-click="toggleMenu"
            >
              <v-icon size="25" color="base"> mdi-close </v-icon>
            </base-button>
            <mobile-product-details-variation />
          </div>
        </div>
      </mobile-layout-header>
      <custom-component component="product-details" />
    </div>
    <div v-else class="d-flex justify-center mt-16 pt-16">
      <base-loading />
    </div>
  </div>
</template>

<script setup>
import {
  computed,
  provide,
  ref,
  useAsync,
  useContext,
  useRoute,
  useStore,
} from '@nuxtjs/composition-api'
import useComponent from '~/composables/useComponent'
import useHttp from '~/composables/useHttp'
import useScreen from '~/composables/useScreen'
import useProduct from '~/composables/useProduct'

const route = useRoute()
const { post } = useHttp()
const { error } = useContext()

const mobileHeader = ref(false)
const store = useStore()
const screen = useScreen()
const customComponent = useComponent()

const catalog = computed(() => {
  return store.state.catalog?.catalog
})

// check catalog ordering status
const catalogIsActive = computed(() => {
  if (!catalog.value) return true
  else if (catalog.value) {
    if (catalog.value.ordering_status === 'active') {
      return true
    } else return false
  }
})

// handle route param
let productCode = route.value.params.code
if (productCode) {
  productCode = productCode.split('-')
  productCode = productCode[1]
}
// end

const toggleMenu = () => {
  mobileHeader.value = !mobileHeader.value

  document.getElementById('overlay').classList.toggle('show')
}

const product = useAsync(() => {
  return post({
    url: `/app/product/show/${productCode}`,
  })
    .then((response) => {
      store.commit('setProduct', response.options)

      return response.options
    })
    .catch((err) => {
      error({
        statusCode: 404,
        message: err.response.data.message,
      })
    })
})

provide('useProduct', useProduct(product))
</script>
<script>
export default {
  name: 'ProductDetailPage',
  head() {
    return {
      title: this.title,
    }
  },
  computed: {
    title() {
      return this.$store.state.product?.product?.name
    },
  },
  methods: {
    // tessss() {
    //   console.log(11111)
    // },
  },
}
</script>
