<template>
  <div class="h-100">
    <mobile-layout-header v-if="screen.isMobile"></mobile-layout-header>
    <custom-component component="order-details" />
  </div>
</template>
<script setup>
import useComponent from '~/composables/useComponent'
import useScreen from '~/composables/useScreen'

const screen = useScreen()
const customComponent = useComponent()
</script>
<script>
export default {
  middleware: 'auth',
}
</script>
