.text-gray {
  color: var(--color-base-3) !important;
}
.text-lightgray {
  color: var(--color-base-4) !important;
}
.text-base {
  color: var(--color-base-1) !important;
}
.bg-blue {
  background-color: var(--color-blue-5);
}
.bg-green {
  background-color: var(--color-green-1);
}
.text-primary {
  color: var(--color-purple-1) !important;
}
.text-blue {
  color: var(--color-blue-1) !important;
}
