@font-face {
  font-family: 'pelak-bold';
  src: url('../fonts/pelak/eot/PelakFA-Bold.eot');
  src: url('../fonts/pelak/eot/PelakFA-Bold.eot') format('embedded-opentype'),
    url('../fonts/pelak/woff2/PelakFA-Bold.woff2') format('woff2'),
    url('../fonts/pelak/woff/PelakFA-Bold.woff') format('woff'),
    url('../fonts/pelak/ttf/PelakFA-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'pelak-regular';
  src: url('../fonts/pelak/eot/PelakFA-Regular.eot');
  src: url('../fonts/pelak/eot/PelakFA-Regular.eot') format('embedded-opentype'),
    url('../fonts/pelak/woff2/PelakFA-Regular.woff2') format('woff2'),
    url('../fonts/pelak/woff/PelakFA-Regular.woff') format('woff'),
    url('../fonts/pelak/ttf/PelakFA-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'pelak-black';
  src: url('../fonts/pelak/eot/PelakFA-Black.eot');
  src: url('../fonts/pelak/eot/PelakFA-Black.eot') format('embedded-opentype'),
    url('../fonts/pelak/woff2/PelakFA-Black.woff2') format('woff2'),
    url('../fonts/pelak/woff/PelakFA-Black.woff') format('woff'),
    url('../fonts/pelak/ttf/PelakFA-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'pelak-medium';
  src: url('../fonts/pelak/eot/PelakFA-Medium.eot');
  src: url('../fonts/pelak/eot/PelakFA-Medium.eot') format('embedded-opentype'),
    url('../fonts/pelak/woff2/PelakFA-Medium.woff2') format('woff2'),
    url('../fonts/pelak/woff/PelakFA-Medium.woff') format('woff'),
    url('../fonts/pelak/ttf/PelakFA-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'pelak-light';
  src: url('../fonts/pelak/eot/PelakFA-Light.eot');
  src: url('../fonts/pelak/eot/PelakFA-Light.eot') format('embedded-opentype'),
    url('../fonts/pelak/woff2/PelakFA-Light.woff2') format('woff2'),
    url('../fonts/pelak/woff/PelakFA-Light.woff') format('woff'),
    url('../fonts/pelak/ttf/PelakFA-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'pelak-thin';
  src: url('../fonts/pelak/eot/PelakFA-Thin.eot');
  src: url('../fonts/pelak/eot/PelakFA-Thin.eot') format('embedded-opentype'),
    url('../fonts/pelak/woff2/PelakFA-Thin.woff2') format('woff2'),
    url('../fonts/pelak/woff/PelakFA-Thin.woff') format('woff'),
    url('../fonts/pelak/ttf/PelakFA-Thin.ttf') format('truetype');
  font-weight: 100;
}
