@import 'colors';
@import 'font.scss';

:root {
  --color-base-1: #000000;
  --color-base-2: #0d0d0d;
  --color-base-3: #333333;
  --color-base-4: #999999;
  --color-base-5: #cccccc;
  --color-base-6: #f2f2f2;
  --color-base-7: #ffffff;

  --color-green-1: #03c03c;
  --color-green-2: #3fcc6a;
  --color-green-3: #7bd997;
  --color-green-4: #b6e6c5;
  --color-green-5: #daede0;
  --color-green-6: #e6efe9;

  --color-blue-1: #0085ff;
  --color-blue-2: #3da0fc;
  --color-blue-3: #79bbf9;
  --color-blue-4: #b6d7f5;
  --color-blue-5: #dae7f3;
  --color-blue-6: #e6edf3;

  --color-purple-1: #9e19ff;
  --color-purple-2: #b34ffc;
  --color-purple-3: #c885f9;
  --color-purple-4: #ddbcf5;
  --color-purple-5: #eadcf3;
  --color-purple-6: #eee7f3;

  --color-red-1: #ff2646;
  --color-red-2: #fc5971;
  --color-red-3: #f98c9c;
  --color-red-4: #f5bfc7;
  --color-red-5: #f3dee1;
  --color-red-6: #f3e8e9;

  --color-orange-1: #ff7818;
  --color-orange-2: #fc974f;
  --color-orange-3: #f9b585;
  --color-orange-4: #f5d3bb;
  --color-orange-5: #f3e6dc;
  --color-orange-6: #f3ece7;

  --color-yellow-1: #ffc917;
  --color-yellow-2: #fcd34e;
  --color-yellow-3: #f9dd85;
  --color-yellow-4: #f5e8bb;
  --color-yellow-5: #f3eedc;
  --color-yellow-6: #f3f0e7;
}

.theme--dark {
  --color-base-1: #ffffff;
  --color-base-2: #f2f2f2;
  --color-base-3: #e5e5e5;
  --color-base-4: #666666;
  --color-base-5: #333333;
  --color-base-6: #0d0d0d;
  --color-base-7: #000000;

  --color-green-1: #03c03c;
  --color-green-2: #059330;
  --color-green-3: #086624;
  --color-green-4: #0a3a19;
  --color-green-5: #0c1f12;
  --color-green-6: #0c160f;

  --color-blue-1: #0085ff;
  --color-blue-2: #0367c3;
  --color-blue-3: #064986;
  --color-blue-4: #0a2b49;
  --color-blue-5: #0c1925;
  --color-blue-6: #0c1319;

  --color-purple-1: #9e19ff;
  --color-purple-2: #7a16c3;
  --color-purple-3: #551386;
  --color-purple-4: #311049;
  --color-purple-5: #1b0e25;
  --color-purple-6: #140e19;

  --color-red-1: #ff2646;
  --color-red-2: #c32038;
  --color-red-3: #861929;
  --color-red-4: #49131b;
  --color-red-5: #250f13;
  --color-red-6: #190e10;

  --color-orange-1: #ff7818;
  --color-orange-2: #c35d15;
  --color-orange-3: #864212;
  --color-orange-4: #492810;
  --color-orange-5: #25180e;
  --color-orange-6: #19120e;

  --color-yellow-1: #ffc917;
  --color-yellow-2: #c39a14;
  --color-yellow-3: #866b12;
  --color-yellow-4: #493c0f;
  --color-yellow-5: #25200e;
  --color-yellow-6: #19160d;
}

@for $i from 1 through 100 {
  .w-#{$i} {
    width: #{$i}#{'%'} !important;
  }
}

@for $i from 1 through 100 {
  .h-#{$i} {
    height: #{$i}#{'%'} !important;
  }
}

@for $i from 1 through 30 {
  .font-#{$i} {
    font-size: #{$i}#{'px'} !important;
  }
}

@for $i from 1 through 50 {
  .rounded-#{$i} {
    border-radius: #{$i}#{'px'} !important;
  }
}

a,
a:hover {
  text-decoration: none !important;
}

a,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
label,
legend,
li,
p,
span {
  font-family: 'pelak-medium' !important;
}

body {
  font-family: 'pelak-medium' !important;
  font-size: 15px;
}

.position-relative {
  position: relative;
}

.vertical-align-middle {
  vertical-align: middle;
}

.vh-100 {
  height: 100vh;
}

.bg-transparent {
  background-color: transparent !important;
}
.bg-dark {
  background-color: var(--color-base-7);
}

.min-width-0 {
  min-width: 0 !important;
}
.border-0 {
  border: none !important;
}
.border {
  border: 1px solid var(--color-base-5);
}
.border-bottom {
  border-bottom: 1px solid var(--color-base-5);
}
.border-top {
  border-top: 1px solid var(--color-base-5);
}
.truncated {
  display: -webkit-box;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  // padding: 0 10px;
}
.truncated-h {
  -webkit-line-clamp: 1;
  height: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
.text-justify {
  text-align: justify !important;
}

.img-zoom {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: zoom-img-animation 0.3s ease-in 0s 1 forwards;
  img {
    height: auto;
    width: 80%;
  }
}

@keyframes zoom-img-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .img-zoom {
    img {
      width: 60%;
      height: 80%;
      object-fit: cover;
    }
  }
}
