// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 16px;
$body-font-family: 'pelak';
$heading-font-family: 'pelak';

.v-application--wrap {
  background-color: var(--color-base-7) !important;
}
