<template>
  <v-row class="no-gutters cart h-100">
    <v-col cols="12">
      <base-card class="pa-7 mb-10" :class="{ scrollable: !screen.isMobile }">
        <div @click="handleBackToOrders">
          <v-icon class="mt-2" size="30">mdi-cart-outline</v-icon>
          <h4 class="my-2">سفارشات</h4>
        </div>
        <div v-if="isLoading" class="text-center mt-12">
          <base-loading></base-loading>
        </div>
        <div v-else class="mb-5">
          <div v-if="orders.data.length" class="border-top pt-2 cart-items">
            <div v-if="showOrders">
              <div
                v-for="(order, index) in orders.data"
                :key="index"
                @click="handleOrderClick(order.id)"
              >
                <mobile-order-details-orders :order="order" class="mb-2" />
              </div>
            </div>
            <div v-if="showOrderItems">
              <div v-if="isLoadingOrderItems" class="text-center mt-5">
                <base-loading></base-loading>
              </div>
              <div
                v-for="(item, index) in orderItems"
                v-else
                :key="index"
                sm="12"
              >
                <mobile-order-details-item :item="item" class="mb-2" />
              </div>
            </div>
          </div>
          <div v-else class="text-center border-top pt-5">
            سفارش ثبت شده ای ندارید
          </div>
        </div>
      </base-card>
    </v-col>
  </v-row>
</template>
<script setup>
import { ref } from '@nuxtjs/composition-api'
import useOrder from '~/composables/useOrder'
import useScreen from '~/composables/useScreen'

const screen = useScreen()
const showOrders = ref(true)
const showOrderItems = ref(false)

const {
  getOrders,
  isLoading,
  orders,
  getOrderDetails,
  isLoadingOrderItems,
  orderItems,
} = useOrder()

getOrders()

const handleOrderClick = (orderID) => {
  showOrders.value = false
  showOrderItems.value = true
  getOrderDetails(orderID)
}

const handleBackToOrders = () => {
  showOrders.value = true
  showOrderItems.value = false
}
</script>
<script>
export default {
  name: 'CartDetail',
}
</script>

<style lang="scss" scoped>
.cart {
}
</style>
