<template>
  <v-expansion-panels class="border" style="border-radius: 15px">
    <v-expansion-panel class="bg-transparent" style="border-radius: 15px">
      <v-expansion-panel-header>
        <div class="d-flex align-center">
          <img
            width="50"
            class="rounded-lg ml-2"
            :src="item.product_image"
            :alt="item.product_name"
          />
          <div class="pt-3">
            <p class="mb-2 text-lightgray">{{ item.product_name }}</p>
            <p class="text-gray text-right font-11">
              {{ item.product_code }}
            </p>
          </div>
        </div>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <div class="bg-dark py-2 px-3 rounded-xl">
          <div v-if="item.product_variation">
            <div class="d-flex justify-space-between align-center">
              <div>
                <span
                  v-for="(pv, index) in item.product_variation"
                  :key="index"
                >
                  {{ pv.value }}
                  <span v-if="index != item.product_variation.length - 1"
                    >/</span
                  >
                </span>
                <span v-if="item.quantity" class="mr-1">
                  (
                  <span>{{ item.quantity }}</span>
                  <span>عدد</span>
                  )
                </span>
              </div>
              <mobile-order-details-price :item="item" />
            </div>
          </div>
          <div
            v-if="!item.product_variation"
            class="d-flex justify-space-between"
          >
            <div v-if="item.quantity" class="mt-1">
              <span>{{ item.quantity }}</span>
              <span>عدد</span>
            </div>
            <mobile-order-details-price :item="item" />
          </div>
        </div>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</template>
<script setup>
defineProps({
  item: { type: Object },
})
</script>
<script>
export default {
  name: 'CartItemComponent',
}
</script>
