<template>
  <v-col sm="7" md="8" xl="9" class="pb-0 pl-0" style="height: 90vh">
    <base-card class="pa-7" :class="{ scrollable: !screen.isMobile }">
      <slot></slot>
    </base-card>
  </v-col>
</template>
<script setup>
import useScreen from '~/composables/useScreen'

const screen = useScreen()
</script>
<script>
export default {
  name: 'LeftContent',
}
</script>
