<template>
  <v-col class="right-container pb-0" sm="5" md="4" xl="3">
    <div class="mt-7 px-5">
      <base-button
        v-if="route.name != 'catalog-code-title'"
        class="pa-0 min-width-0 d-none d-md-block"
        color="base"
        small
        dark
        plain
        @on-click="$router.go(-1)"
      >
        <v-icon size="25"> mdi-arrow-right </v-icon>
      </base-button>
      <slot></slot>
    </div>
    <div class="pa-3 d-flex justify-center">
      <div class="d-flex">
        <img
          width="30"
          height="18"
          src="@/assets/images/shoplogo.png"
          alt="shop logo"
        />
        <p class="font-11 mb-0">توسعه یافته توسط چادیشو</p>
      </div>
    </div>
  </v-col>
</template>
<script setup>
import { useRoute } from '@nuxtjs/composition-api'
const route = useRoute()
</script>
<script>
export default {
  name: 'RightContent',
}
</script>
<style lang="scss" scoped>
.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 3px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-base-5);
  }
}
.description {
  color: var(--color-base-4);
  position: relative;
  max-height: 78px;
  overflow: hidden;
  transition: 0.5s;

  p {
    line-height: 20px;
    font-size: 12px;
  }

  &.read-more {
    max-height: 1000px;
    transition: 0.5s;
  }
}
</style>
