<template>
  <div class="loading-page">
    <img class="logo-animation" src="@/assets/images/ShopLogoLight.png" />
  </div>
</template>

<script>
export default {
  name: 'LoadingComponent',
}
</script>

<style scoped>
.loading-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-base-4);
}

.logo-animation {
  animation: tester-d 0.7s ease-in-out 0.5s infinite alternate;
}

@keyframes tester-d {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(-20deg);
  }
}
</style>
