<template>
  <div class="form-input">
    <v-validate
      v-slot="{ errors, classes }"
      :rules="rules"
      :vid="name"
      :name="label"
    >
      <label>{{ label }}</label>
      <input
        ref="name"
        :name="name"
        class="input mt-1"
        :class="`${inputClass} ${classes.invalid ? 'is-invalid' : ''}`"
        :value="value"
        :placeholder="placeholder"
        :autocomplete="autocomplete"
        v-bind="$attrs"
        @input="handleChange"
        @keyup.enter="(e) => $emit('keydown', e)"
      />
      <span v-if="errors.length" class="font-10">{{ errors[0] }}</span>
    </v-validate>
    <div class="icon">
      <slot name="icon"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseInput',
  inheritAttrs: true,
}
</script>

<script setup>
defineProps({
  name: {
    type: String,
    default: '',
  },
  label: {
    type: String,
    default: '',
  },
  value: {
    type: [String, Number],
    default: '',
  },
  autocomplete: {
    type: String,
    default: 'off',
  },
  placeholder: {
    type: String,
    default: '',
  },
  inputClass: {
    type: String,
    default: '',
  },
  rules: {
    type: String,
    default: '',
  },
})

const emit = defineEmits(['input', 'change'])

const handleChange = (_value) => {
  emit('input', _value.target.value)
  emit('change', _value.target.value)
}
</script>

<style lang="scss" scoped>
@import './input.scss';
</style>
