.form-input {
  position: relative;
  width: 100%;

  .input {
    background-color: var(--color-base-6);
    color: var(--color-base-2);
    outline: none;
    padding: 11px 24px 11px 16px;
    width: 100%;
    border: 2px solid;
    border-color: var(--color-base-5) !important;
    border-radius: 7px;
    box-sizing: border-box;

    &::placeholder {
      color: var(--color-base-2);
    }

    &.seq {
      border-radius: 25px;
      // .icon {
      //   top: 22% !important;
      // }
    }
    &.border-none {
      border: unset !important;
    }
  }

  .icon {
    position: absolute;
    top: 26%;
    left: 2%;
  }
}
