<template>
  <v-row class="no-gutters cart h-100">
    <v-col cols="12">
      <base-card class="pa-7 mb-10" :class="{ scrollable: !screen.isMobile }">
        <div>
          <v-icon class="mt-2" size="30">mdi-cart-outline</v-icon>
          <h4 class="my-2">سبد خرید</h4>
          <div class="pr-1">
            <p class="font-13 mt-2 text-justify">
              لطفا محصولات و متغیر‌های موردنظر خود را انتخاب نموده و سپس روی
              گزینه تکمیل فرآیند خرید کلیک کنید تا سفارش شما برای فروشگاه ارسال
              گردد.
            </p>
          </div>
        </div>
        <div v-if="isLoadingGetCart" class="text-center mt-12">
          <base-loading></base-loading>
        </div>
        <div v-else>
          <div v-if="cart.order_items" class="border-top pt-2 cart-items">
            <h4 class="my-3">آیتم های آماده خرید</h4>
            <div
              v-for="(item, index) in cart.order_items"
              :key="index"
              class="mt-2"
            >
              <mobile-cart-details-item :item="item" />
            </div>
          </div>
          <div v-else class="text-center border-top pt-5">
            سبد خرید شما خالی است
          </div>
        </div>
        <div v-if="cart.total_amount && !isLoadingGetCart" class="mt-3 mb-10">
          <div class="d-flex justify-space-between">
            <span class="font-20">قیمت نهایی</span>
            <span class="font-18">
              <div class="text-left">
                <span>
                  {{ separateNum(calculateOrderPrice.salePrice) }}
                </span>
                <small>
                  {{ getPirceCurrency(cart.order_items[0].product_currency) }}
                </small>
              </div>
              <div class="text-lightgray text-left">
                <span
                  v-if="calculateOrderPrice.salePrice > 0"
                  class="font-11 discount text-base rounded-xl px-2 ml-1 bg-green"
                >
                  {{
                    calculateDiscount({
                      price: calculateOrderPrice.price,
                      sale_price: calculateOrderPrice.salePrice,
                    })
                  }}% تخفیف
                </span>
                <span>
                  {{ separateNum(calculateOrderPrice.price) }}
                </span>
                <small>
                  {{ getPirceCurrency(cart.order_items[0].product_currency) }}
                </small>
              </div>
            </span>
          </div>
          <div class="d-flex justify-space-between align-center mt-3">
            <p class="font-15">سود شما از خرید :</p>
            <p class="font-15 text-blue">
              {{
                separateNum(
                  calculateOrderPrice.price - calculateOrderPrice.salePrice
                )
              }}
              <small>
                {{ getPirceCurrency(cart.order_items[0].product_currency) }}
              </small>
            </p>
          </div>
        </div>
      </base-card>
    </v-col>
  </v-row>
</template>
<script setup>
import useCart from '~/composables/useCart'
import useGlobal from '~/composables/useGlobal'
import useScreen from '~/composables/useScreen'

const screen = useScreen()

const { cart, getCart, isLoadingGetCart, calculateOrderPrice } = useCart()
const { separateNum, getPirceCurrency, calculateDiscount } = useGlobal()

getCart()
</script>
<script>
export default {
  name: 'CartDetail',
}
</script>

<style lang="scss" scoped>
.cart {
  .cart-items {
    // min-height: 100%;
  }
}
</style>
