.form-input {
  .select {
    background-color: aliceblue;
    width: 100%;
    padding: 10px 15px;
    &:focus-visible {
      border: none !important;
      outline: none !important;
    }
  }
  .v-input__slot:before {
    border: none !important;
  }
}
