<template>
  <div class="form-input">
    <label :for="label">{{ label }}</label>
    <v-select
      :items="items"
      :item-text="dataTextField"
      :item-value="dataValueField"
      dense
      filled
      outlined
      v-bind="$attrs"
      class="mt-1 rounded-lg"
      @input="handleChange"
    ></v-select>
  </div>
</template>

<script>
export default {
  name: 'BaseSelect',
  inheritAttrs: false,
}
</script>

<script setup>
defineProps({
  items: {
    type: Array,
    default: Array,
  },
  name: {
    type: String,
    default: '',
  },
  label: {
    type: String,
    default: '',
  },
  autocomplete: {
    type: String,
    default: 'off',
  },
  placeholder: {
    type: String,
    default: '',
  },
  seq: {
    type: Boolean,
    default: false,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  dataTextField: {
    type: String,
    default: 'name',
  },
  dataValueField: {
    type: [String, Number],
    default: 'id',
  },
})

const emit = defineEmits(['input', 'change'])

const handleChange = (_value) => {
  emit('input', _value)
  emit('change', _value)
}
</script>

<style lang="scss" scoped>
@import './select.scss';
</style>
