<template>
  <div class="d-flex flex-column h-100">
    <div>
      <v-carousel cycle :show-arrows="false">
        <v-carousel-item
          v-for="(item, i) in product.images"
          :key="i"
          :src="item.image"
          v-zoom-image="item.image"
        >
        </v-carousel-item>
      </v-carousel>
    </div>
    <div class="h-100 mb-10">
      <base-card class="pa-4">
        <div class="product">
          <div class="d-flex justify-space-between">
            <div class="d-flex align-center">
              <h4 class="pr-1">{{ product.product.name }}</h4>
              <!-- <small class="text-gray mr-1">
                  {{ product.product.code }}
                </small> -->
            </div>
            <!-- <base-button class="pa-0 min-width-0" small dark plain>
            <v-icon size="25" color="white"> mdi-bookmark-outline </v-icon>
          </base-button> -->
          </div>
          <div v-if="product.product.description" class="border-top mt-3 pt-3">
            <div
              class="description"
              id="mobile-product-description"
              :class="{ 'read-more': readMore }"
            >
              <p v-html="product.product.description" class="text-justify"></p>
            </div>
            <base-button
              v-if="descriptionChildHeight > descriptionHeight"
              plain
              @on-click="readMore = !readMore"
            >
              <span v-if="!readMore">مشاهده بیشتر</span>
              <span v-else>مشاهده کمتر</span>
            </base-button>
          </div>
          <div v-if="product.product.attachment" class="border-top mt-3 pt-3">
            <a
              class="
                pa-4
                rounded-lg
                d-flex
                justify-space-between
                align-center
                bg-blue
              "
              :href="product.product.attachment"
              download
              target="_blank"
            >
              <span class="font-14 text-base"> دانلود فایل الحاقی</span>
              <v-icon size="20">mdi-download</v-icon>
            </a>
          </div>
          <div
            v-if="attributes.length > 0"
            class="attributes border-top pt-2 mt-3"
          >
            <v-expansion-panels :value="0">
              <v-expansion-panel expand>
                <v-expansion-panel-header>
                  <div class="d-flex">مشخصات</div>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-simple-table>
                    <template #default>
                      <div
                        v-for="(attribute, index) in attributes"
                        :key="index"
                        class="mb-1"
                      >
                        <span> {{ attribute.display_name }} : </span>
                        <span class="mr-1">
                          <template v-for="(value, i) in attribute.values">
                            <span v-if="i != 0" :key="i"> , </span>
                            {{ value.value }}
                          </template>
                        </span>
                      </div>
                    </template>
                  </v-simple-table>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </div>
        </div>
      </base-card>
    </div>
  </div>
</template>
<script setup>
import { ref, inject, onMounted } from '@nuxtjs/composition-api'

const { product, attributes } = inject('useProduct')

const readMore = ref(false)

const descriptionHeight = ref(0)
const descriptionChildHeight = ref(0)
onMounted(() => {
  descriptionHeight.value = document.getElementById(
    'mobile-product-description'
  )?.offsetHeight
  descriptionChildHeight.value = document.getElementById(
    'mobile-product-description'
  )?.children[0]?.offsetHeight
})
</script>
<script>
export default {
  name: 'ProductDetail',
}
</script>
<style lang="scss" scoped>
.product {
  margin-bottom: 70px;

  .description {
    color: var(--color-base-4);
    position: relative;
    max-height: 100px;
    overflow: hidden;
    transition: 0.5s;

    p {
      line-height: 1.7rem;
    }

    &.read-more {
      max-height: 1000px;
      transition: 0.5s;
    }
  }
}
</style>
