<template>
  <div class="d-flex align-center justify-space-between mt-2">
    <desktop-product-details-quantity
      v-if="showQuantity"
      :product-info="productInfo"
      :can-add-to-cart="canAddToCart"
      @update-quantity="updateQuantity"
    />
    <div v-if="showPrice" class="d-flex flex-column">
      <span
        v-if="productInfo.sale_price > 0"
        class="text-base font-weight-bold text-left"
      >
        {{ separateNum(productInfo.sale_price * quantity) }}
        <small>{{ getPirceCurrency(productInfo.currency) }}</small>
      </span>
      <span
        v-if="productInfo.sale_price > 0"
        class="text-gray text-left d-flex align-center justify-end"
      >
        <span class="discount rounded-pill px-1">
          {{ productInfo.discount }}%
        </span>
        <del>
          {{ separateNum(productInfo.price * quantity) }}
        </del>
      </span>
      <span
        v-if="!productInfo.sale_price > 0 && productInfo.price > 0"
        class="text-base font-weight-bold text-left"
      >
        {{ separateNum(productInfo.price * quantity) }}
        <small>{{ getPirceCurrency(productInfo.currency) }}</small>
      </span>
      <span
        v-if="productInfo.unit && productInfo.unit !== 'تعداد'"
        class="font-11 text-left"
      >
        <span>واحد : </span>
        <span>{{ productInfo.unit }}</span>
      </span>
    </div>
  </div>
</template>
<script setup>
import { inject, ref } from '@nuxtjs/composition-api'
import useGlobal from '~/composables/useGlobal'

defineProps({
  showQuantity: {
    type: Boolean,
    default: true,
  },
})
const emit = defineEmits(['update-quantity'])
const { productInfo, canAddToCart } = inject('useProduct')

const { separateNum, showPrice, getPirceCurrency } = useGlobal()

const quantity = ref(1)

const updateQuantity = (q) => {
  quantity.value = q
  emit('update-quantity', quantity.value)
}
</script>
<script>
export default {
  name: 'ProductPrice',
}
</script>
<style lang="scss" scoped>
.discount {
  border: 1px solid var(--color-base-3);
  margin-left: 8px;
  padding-top: 0.5px;
  font-size: 10px;
}
</style>
