<template>
  <div>
    <div v-for="(variation, index) in variations" :key="index">
      <p>{{ variation.display_name }} :</p>
      <base-button
        v-for="(value, i) in variation.values"
        :key="i"
        rounded
        class="font-weight-bold px-2 py-2 mx-1 my-1"
        :outlined="value.id != attributeProductId[index]"
        @on-click="setVariation(index, value.id)"
      >
        <span class="font-13">{{ value.value }}</span>
      </base-button>
    </div>
    <mobile-product-details-price
      :product-info="productInfo"
      @update-quantity="updateQuantity"
    />
    <base-button
      v-if="canAddToCart"
      block
      class="py-6 mt-2 rounded-xl"
      :class="{ disabled: isLoadingAddToCart }"
      :is-loading="isLoadingAddToCart"
      @on-click="handleAddToCart"
    >
      <v-icon size="25" left> mdi-check </v-icon>
      <span class="mr-3 font-13">تایید</span>
    </base-button>
  </div>
</template>
<script setup>
import {
  computed,
  inject,
  onMounted,
  ref,
  useContext,
} from '@nuxtjs/composition-api'
import useCart from '~/composables/useCart'

const { variations, attributeProductId, productInfo, canAddToCart } =
  inject('useProduct')

const { store } = useContext()

const { addToCart, isLoadingAddToCart } = useCart()

const quantity = ref(1)

const catalog = computed(() => store.state.catalog?.catalog)

onMounted(() => {
  if (variations.value.length) {
    const defaultAttribute = []

    variations.value.forEach((variation, index) => {
      defaultAttribute[index] = variation.values[0].id
    })

    attributeProductId.value = defaultAttribute
  }
})

const setVariation = (index, attributeID) => {
  const _attributeID = []

  attributeProductId.value.forEach((attr, i) => {
    if (i === index) {
      _attributeID[i] = attributeID
    } else _attributeID[i] = attr
  })

  attributeProductId.value = _attributeID
}

const updateQuantity = (q) => {
  quantity.value = q
}

const handleAddToCart = () => {
  const product = {
    product_id: productInfo.value.id,
    catalog_id: catalog?.value?.id,
    quantity: quantity.value,
    variation_id: null,
  }

  if (productInfo.value.product_id) {
    product.product_id = productInfo.value.product_id
    product.variation_id = productInfo.value.id
  }
  addToCart(product)
}
</script>

<script>
export default {
  name: 'ProductVariation',
}
</script>
