<template>
  <form :autocomplete="autocomplete">
    <v-validate-observer ref="gForm">
      <slot name="body" />
    </v-validate-observer>
  </form>
</template>
<script>
export default {
  props: {
    autocomplete: {
      type: String,
      default: 'off',
    },
  },
  methods: {
    validate() {
      return this.$refs.gForm.validate()
    },
    reset() {
      this.$refs.gForm.reset()
    },
    setErrors(_errors) {
      if (_errors) this.$refs.gForm.setErrors(_errors)
    },
  },
}
</script>
