<template>
  <div>
    <div v-show="isLoading">
      <loading />
    </div>

    <div v-show="!isLoading">
      <component :is="layout"></component>
    </div>
  </div>
</template>

<script setup>
import { computed, onMounted, ref } from '@nuxtjs/composition-api'
import DesktopLayout from './desktop.vue'
import MobileLayout from './mobile.vue'
import useScreen from '@/composables/useScreen'

const screen = useScreen()

const isLoading = ref(true)

onMounted(() => {
  setTimeout(() => {
    isLoading.value = false
  }, 500)
})

const layout = computed(() =>
  screen.value.isMobile ? MobileLayout : DesktopLayout
)
</script>
