<template>
  <v-app dark>
    <div class="desktop-layout">
      <desktop-layout-header v-if="!screen.isMobile" />
      <main class="main">
        <Nuxt />
      </main>
      <!-- <layout-footer /> -->
    </div>
  </v-app>
</template>
<script setup>
import useScreen from '~/composables/useScreen'
const screen = useScreen()
</script>
<script>
export default {
  name: 'DesktopLayout',
}
</script>
