<template>
  <v-app dark>
    <div id="overlay" class="overlay"></div>
    <div class="mobile-layout h-100">
      <main class="main h-100">
        <Nuxt />
      </main>
      <!-- <layout-footer /> -->
    </div>
  </v-app>
</template>
<script>
export default {
  name: 'MobileLayout',
}
</script>

<style lang="scss" scoped>
.overlay {
  &.show {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: var(--color-base-6);
    opacity: 0.8;
  }
}
</style>
