<template>
  <div>
    <v-progress-circular indeterminate :color="color"></v-progress-circular>
  </div>
</template>
<script>
export default {
  name: 'BaseLoading',
}
</script>
<script setup>
defineProps({
  color: {
    type: String,
    default: 'primary',
  },
})
</script>
