<template>
  <div class="h-100">
    <!-- Moible Header -->
    <mobile-layout-header v-if="screen.isMobile">
      <div slot="left-menu">
        <base-button
          v-if="!$auth.$state.loggedIn"
          class="font-weight-bold px-4 py-6 rounded-xl"
          outlined
          @on-click="$router.push('/login')"
        >
          <v-icon size="25" left> mdi-account-circle </v-icon>
          <span class="mr-3 font-13">ورود به حساب کاربری</span>
        </base-button>
        <base-button
          v-else
          class="font-weight-bold px-4 py-6 rounded-xl"
          outlined
          @on-click="$router.push('/cart')"
        >
          <v-icon size="25" left> mdi-cart-outline </v-icon>
          <span class="mr-3 font-13">سبد خرید</span>
        </base-button>
      </div>
    </mobile-layout-header>
    <custom-component v-if="catalog" component="catalog-details" />
    <div v-else class="d-flex justify-center mt-16 pt-16">
      <base-loading />
    </div>
  </div>
</template>

<script setup>
import { useAsync, useContext, useRoute } from '@nuxtjs/composition-api'
import useHttp from '~/composables/useHttp'
import useScreen from '~/composables/useScreen'
import useComponent from '~/composables/useComponent'

const { store, error } = useContext()
const route = useRoute()
const screen = useScreen()
const { post } = useHttp()
const customComponent = useComponent()

// handle route param
let catalogCode = route.value.params.code
if (catalogCode) {
  catalogCode = catalogCode.split('-')
  catalogCode = catalogCode[1]
}
// end

const catalog = useAsync(() => {
  return post({
    url: `/app/catalog/show/${catalogCode}`,
  })
    .then((response) => {
      store.commit('setCatalog', response.options)

      return response.options
    })
    .catch((err) => {
      error({
        statusCode: 404,
        message: err.response.data.message,
      })
    })
})
</script>

<script>
export default {
  name: 'CatalogDetailPage',
  head() {
    return {
      title: this.title,
    }
  },
  computed: {
    title() {
      return this.$store.state.catalog?.catalog?.title
    },
  },
}
</script>
