.card {
  height: 100%;
  background-color: var(--color-base-6);
  border-radius: 2px;

  &.scrollable {
    height: 100%;
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-base-5);
  }
}
