<template>
  <div class="card">
    <h4 v-if="title" class="mb-6">{{ title }}</h4>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'BaseCard',
}
</script>

<script setup>
defineProps({
  title: {
    type: String,
    default: '',
  },
})
</script>

<style lang="scss" scoped>
@import './card.scss';
</style>
