<template>
  <v-btn :color="color" v-bind="$attrs" @click="handleClick">
    <base-loading v-if="isLoading" color="white"></base-loading>
    <template v-else>
      <slot></slot>
    </template>
  </v-btn>
</template>

<script setup>
const emit = defineEmits(['on-click'])

defineProps({
  color: {
    type: String,
    default: 'primary',
  },
  isLoading: {
    type: Boolean,
    default: false,
  },
})

const handleClick = () => {
  emit('on-click')
}
</script>

<script>
export default {
  name: 'BaseButton',
  inheritAttrs: false,
}
</script>

<style lang="scss" scoped>
@import './button.scss';
</style>
