.v-btn {
  // border-radius: 16px;
  &.disabled {
    opacity: 0.2;
  }
}
.rounded-xl {
  border-radius: 16px !important;
}
.v-btn.v-btn--disabled.v-btn--has-bg {
  // background-color: var(--color-purple-4) !important;
  // opacity: 60%;
}
// button.v-btn[disabled] {
//   opacity: 0.6;
// }
