<template>
  <div v-if="product" class="product pa-3">
    <div class="position-relative">
      <base-image
        :image="getImage(product.primary_image)"
        :alt="product.name"
        height="230px"
        @loading="loading = false"
      />
      <h4 class="product-title truncated truncated-h">{{ product.name }}</h4>
      <small class="text-gray mt-2">کد محصول : {{ product.code }}</small>
      <div
        v-if="showPrice && discount > 0"
        class="discount"
        :style="{ display: loading ? 'none' : 'block' }"
      >
        <span>{{ discount }}%</span>
        <span>تخفیف</span>
      </div>
    </div>
    <div>
      <div
        v-if="showPrice && product.sale_price > 0"
        class="d-flex justify-space-between"
      >
        <span class="text-base">
          <span class="font-weight-bold">{{
            separateNum(product.sale_price)
          }}</span>
          <small class="text-gray">{{ getPirceCurrency(product.currency) }}</small>
        </span>
        <del class="text-gray">{{ separateNum(product.price) }}</del>
      </div>
      <span
        v-if="showPrice && !product.sale_price > 0 && product.price > 0"
        class="text-base font-weight-bold"
      >
        {{ separateNum(product.price) }}
        <small class="text-gray">{{ getPirceCurrency(product.currency) }}</small>
      </span>
      <base-alert
        v-if="!product.quantity > 3"
        class="text-center pa-1 font-14 mt-4"
        type="danger"
      >
        <v-icon size="16" color="red"> mdi-alert-circle </v-icon>
        <span class="vertical-align-middle pr-1">
          تنها {{ product.quantity }} عدد موجود
        </span>
      </base-alert>
    </div>
  </div>
</template>

<script setup>
import { ref } from '@nuxtjs/composition-api'
import useGlobal from '~/composables/useGlobal'
const props = defineProps({
  product: {
    type: Object,
    default: () => {},
  },
})

const { calculateDiscount, separateNum, getImage, showPrice, getPirceCurrency } =
  useGlobal()

const loading = ref(true)

const discount = calculateDiscount(props.product)
</script>
<script>
export default {
  name: 'ProductGridView',
}
</script>
<style lang="scss" scoped>
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 390px;
  background-color: var(--color-base-7);
  border-radius: 15px;

  .product-title {
    font-weight: 500 !important;
    color: var(--color-base-1) !important;
    font-size: 13px !important;
    text-decoration: none !important;
    margin-top: 8px;
  }

  .discount {
    position: absolute;
    left: 0;
    top: 60%;
    padding: 3px 8px;
    font-weight: 500;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 13px;
    color: var(--color-base-1) !important;
    background-color: #c92d4d;
  }
}
</style>
