<template>
  <div class="product container pa-3">
    <div class="col-6 col-md-3 d-flex align-center">
      <img class="image rounded-b-0" src="@/assets/images/product.png" />
      <h4 class="title mt-1 mr-2">{{ product.title }}</h4>
      <small class="text-gray mt-2 mr-2">{{ product.code }}</small>
    </div>
    <div class="col d-none d-md-flex align-center justify-center">
      <p class="font-weight-bold mb-0">قرمز</p>
    </div>
    <div class="col d-none d-md-flex align-center justify-center">
      <p class="font-weight-bold mb-0 mx-auto">Large</p>
    </div>
    <div class="col d-none d-md-flex align-center justify-center">
      <p class="font-weight-bold mb-0 mx-auto">58 تن</p>
    </div>
    <div class="col d-flex align-center justify-end">
      <span class="mr-2">
        <del class="text-gray">{{ product.price }}</del>
      </span>
      <div class="mr-3">
        <span class="font-18 font-weight-bold">
          {{ product.sale_price }}
        </span>
        <small class="text-gray mr-1">تومان</small>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductSecondary',
}
</script>

<script setup>
defineProps({
  product: {
    type: Object,
    default: () => {},
  },
})
</script>

<style lang="scss" scoped>
.product {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-base-1);
  border-radius: 15px;
  margin-top: 12px;

  :last-child {
    border-left: none;
  }
  .image {
    width: 25%;
    height: auto;
  }

  .title {
    font-weight: 500;
    font-size: 16px !important;
  }

  .discount {
    position: absolute;
    left: 0;
    top: 60%;
    padding: 3px 8px;
    font-weight: 500;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 13px;
    background-color: #c92d4d;
  }
}
@media screen and (min-width: 960px) {
  .product {
    div {
      border-left: 1px solid #191919;
    }
    .image {
      width: 15%;
      height: auto;
    }
  }
}
</style>
